<%- include ('partials/header') %>
<section class="books">
  <% books.forEach(({ title, image, author, id, price }) => { %>
    <div class="card">
      <img class="card-image" src="<%= image %>" alt="<%= title %>" />
      <div class="card-description">
        <p><b class="card-title"><%= title %></b></p>
        <span>by</span>
        <p><%= author %> </p>
        <p><b>Price: N<%= price %> </b></p>
        <% if (!user || !user.isAdmin) { %>
          <a href="/book/<%= id %> " class="buy-btn">Buy Book</a>
        <% } %>
      </div>
    </div>
  <% }) %>
</section>
<%- include ('partials/footer') %>